
@model GraniteHouse.Models.SpecialTags
@{
    ViewData["Title"] = "Detail";
}
<br />
<h2 class="text-info">Detail Special Tag</h2>
<form method="post" asp-action="Edit">
   
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" disabled/>
        
    </div>
    <div>
        <a asp-action="Edit" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to Index</a>
    </div>
</form>
